# Ignore everything...
*

# except for the gitignore file
!.gitignore

# except the readme file
!README.md

# except the manifest and modlist
!manifest.json
!modlist.html

#except overrides
!/overrides