# Ignore everything...
/*

# except for the gitignore file
!.gitignore

# except the readme file
!README.md

# except the makefile
!makefile

#except overrides
!overrides

#except Server
!repodata

#except Progressionline
!Progressionline.svg
!Progressionline.drawio